
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                                <h1>Register</h1>
                                <p>Please fill in this form to create an account.</p>
                               
                            
                                <label for="Center Name"><b>Center Name</b></label>
                                <input type="text" placeholder="Enter Center Name" name="Center name" required><br>
                            
                                <label for="Name"><b>Name</b></label>
                                <input type="text" placeholder="Enter Name" name="name" required><br>
                            
                                <label for="email"><b>Mail-Id</b></label>
                                <input type="email" placeholder="Enter email id" name="email" required><br>
                                                        
                               
                              </div>
                            
                              <div class="container signin">
                                <p>Already have an account? <a href="#">Sign in</a>.</p>
                </div>
            </div>
        </div>
  